<!--@{
    ViewBag.Title = "Nước mắm Bà Hai";
    
}


<br />
<div class="row">
    <div class="col-md-8">-->
       @*@Html.Action("SlidePartial","Home")*@
    <!--</div>
    <div class="col-md-4">
        <img src="~/ELMImages/33c.jpg" class="img-responsive" alt="" />
    </div>
</div>
<div>
    <img class="img-responsive" src="~/ELMImages/12.png" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-4">
            <img src="~/ELMImages/sp1.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/ELMImages/sp2.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="~/ELMImages/sp3.jpg" class="img-responsive" alt="" />
        </div>
    </div>
</div>
<div class="fg">

    @Html.Action("SquareEnix", "Sanpham")
</div>
<div class="fg">

    @Html.Action("BandaiNamco", "Sanpham")
</div>

<div class="fg">

    @Html.Action("GoodSmile", "Sanpham")
</div>

<div class="fg">

    @Html.Action("All", "Sanpham")
</div>-->


